@page "/"
<h1 class="titulo">Inventario de Armamento y Munición</h1>
<style>
    .titulo {
        color: forestgreen;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
</style>
@code {

}
